/* You can add global styles to this file, and also import other style files */

li {
    display: block;
    padding: 30px;
}

h2 {
    padding: 10px;
}

#up, #menu {
    /*Boder line solid*/
    border: 2px solid #00709c;
    background-color: #cbe0ff;
}

#down {
    padding-top: 200px;
}
