<h2>Bienvenido</h2>
    <p>
        ¡Bienvenido a nuestro <b>FotosGallery! </b><br>
Nosotros somos apasionados de la fotografía en todas sus formas y expresiones. 
Aquí, en nuestra página web, nos dedicamos a capturar momentos únicos y eternizar emociones a través de nuestras lentes.  <br>
Ya sea explorando la belleza natural del mundo que nos rodea o congelando instantes de la vida cotidiana, <br>
nos esforzamos por transmitir historias y despertar emociones a través de nuestras imágenes. <br>
    </p>
        